@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');

@theme {
  --font-instrument: 'Instrument Sans', system-ui, sans-serif;
  --color-brand-yellow: #f5c518;
  --color-brand-black: #1a1a1a;
  --color-brand-gray-bg: #ECECEC;
}
